header {
	background-image: url(../images/top_bg.png);
	height: 779px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(17, 17, 17, 0.7);
	background-blend-mode: multiply;
}
.navbar__li {
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-left: 25px;
	font-size: 14pt;
	text-align: center;
	list-style: none;
	margin-top: 20px;
}
.navbar__li a {
	color: white;
}
a:hover{
	text-decoration: none;
}
video {
	width: 100%;
}
.navbar__li a:hover {
	color: #c7b299;
}
.firstSlide {
	background-image: url(../images/top_bg.png);
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(17, 17, 17, 0.7);
	background-blend-mode: multiply;
}
.benefit {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	font-weight: 300;
}
.padding {
	padding-top: 40px;
	padding-bottom: 40px;
}
.second-block {
	background-image: url(../images/block_bg.png);
	height: 700px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.second-block-title {
	font-family: 'Raleway', sans-serif;
	color: #555555;
	font-size: 18pt;
	text-align: center;
}
.project-text {
	height: 100px;
	color: #c7b299;
	font-size: 20px;
	font-family: "Raleway";
	color: rgb(199, 178, 153);
	line-height: 1.2;
	text-align: left;
	background-color: #fbfaf8;
	width: 100%;
	padding-left: 30px;
	padding-top: 10px; 
}
.project-text-2 {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(209, 209, 209);
  line-height: 1.429;
  text-align: left;
}
.padding-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.second-block-title-color {
	color: #c7b299;
}
.font-size-30pt {
	font-size: 26pt;
}
.navbar-toggle .icon-bar {
    background-color: #ccc;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.nav-color {
	background-color: rgba(17, 17, 17, 0.00001);
}
.third-block {
	background-color: #392821;
	height: 200px;

}
.third-block-title {
	font-family: 'Raleway', sans-serif;
	font-size: 21pt;
	color: #c7b299;
	font-weight: 400;
	text-align: center;
}
.text-white {
	color: white;
}
.button-purchase {
  border-radius: 3px;
 background-color: #998675;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  width: 170px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  border: 0;
  cursor: pointer;
}
.button-purchase:hover {
	background-color: #998664;
}
.margin-50 {
	margin-top: 50%;
}
.third-block-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	color: white;
	text-align: center;
}
.project-block:hover .project-text {
	background-color: #362f2d;
}
.button-projects {
  border-style: solid;
  background-color: white;
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  border-radius: 3px;
  width: 137px;
  height: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  cursor: pointer;
}
.button-projects:hover {
	 background-color: #998675;
	 color: white;
}
.margin-left {
	margin-left: 15px;
}
 .project-items {
	width: 100%;
	height: 100px;
	position: absolute;
} 
img {
	max-width: 100%;
}
.col-md-4 img {
    -webkit-transition: all ease 1.5s;
    transition: all ease 1.5s;
}
.col-md-4 img:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    
}
.project-items:hover  {
	background-color: rgba(17, 17, 17, 0.3);
} 
.margin {
	margin-top: 20px;
	margin-bottom: 20px;
}
.fourth-block {
	background-image: url(../images/block2_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 695px;
	width: 100%;
	background-position: center;
}
.fourth-block-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 14pt;
	color: #555555;
}
.fourth-block ul {
	list-style-image: url(../images/iconList.png);
	text-align: left;
	font-size: 12pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.fifth-block {
	background-image: url(../images/block3_bg.png);
	height: 300px;
	width: 100%;

}
.fifth-block-text {
	font-size: 12pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #c7b299;
	text-transform: uppercase;
	text-align: center;
}
.fifth-block-number {
	font-size: 35pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;

}
.posts {
	height: 753px;
	width: 100%;
}
.posts-information {
	height: 175px;
	width: 370px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(248, 248, 248);
	background-color: rgba(119, 119, 119, 0);
	font-size: 20px;
	font-family: "Raleway";
	color: rgb(85, 85, 85);
	line-height: 1.2;
	text-align: left;
	padding-top: 20px;
	padding-left: 20px;
}
.posts-information-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.571;
  text-align: left;
}
.posts-information-read-more {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(199, 178, 153);
  line-height: 1.429;
  text-align: left;
}
.partners {
	height: 489px;
	width: 100%;
	background-image: url(../images/partners-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-info {
	height: 508px;
	width: 100%;
	background-color: #191919;
}
footer {
	height: 111px;
	width: 100%;
	background-color: #111111;
}
.footer-text{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(85, 85, 85);
  line-height: 1.714;
  text-align: left;
}
.posts-hover:hover .posts-information {
	background-color: #362f2d;
}
.read-more {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(209, 209, 209);
  line-height: 1.429;
  text-align: left;
}
.footer-title {
  font-size: 24px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.footer-date {
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(54, 54, 54);
  line-height: 1.667;
  text-align: left;
}
.footer-text span {
	color: #02b4e4;
}
.footer-text a {
	color: #757575;
}
.footer-text:hover {
	color: #c7b299;
	cursor: pointer;
}
.widgets-padding {
	padding: 10px;
}
hr {
	background-color: #2c2b2b;
}
.copyright{
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb(85, 85, 85);
  line-height: 1.538;
  text-align: left;
}
.copyright-white {
	color: #959595;
}
.copyright-hover:hover {
	color: #bfab93;
	cursor: pointer;
}
.project-arrow {
	background-image: url(../images/project-arrow.png);
	height: 20px;
	width: 30px;
	position: absolute;
	top: 70%;
    left: 22%;
}
.arrow-up {
	background-image: url(../images/arrow_up.png);
	z-index: 10000;
	height: 64px;
	width: 64px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	opacity: .6;
	cursor: pointer;
}
@media screen and (max-width: 1200px) {
	.posts-information {
		width: 100%;
	}
}
@media screen and (max-width: 991px) {
	.footer-info {
		height: 628px;
	}
}
@media screen and (max-width: 767px) {
	.fifth-block {
		height: 1100px;
	}
	.third-block {
		height: 270px;
	}
	.partners {
	height: 689px;
	}
	.partners .col-md-3 {
		display: flex;
	}
	.posts {
	height: 1487px;
}
.footer-info {
		height: 1028px;
	}
	.partners {
		height: 839px;
	}
	.partners div img {
		padding-top: 40px;
	}
	.project-text {
		width: 374px;
	}
	.posts-information {
		width: 370px;
	}
}
@media screen and (max-width: 578px) {
	.footer-info {
		height: 1228px;
	}
}
@media screen and (max-width: 400px) {
	.posts-information {
		width: 100%;
	}
}